{% extends 'base.html' %}

{% block body %}

<div id="intro">
<h1>Welcome to the ktk survey</h1>

<div>
<p>Today you will be taking an important survey about teaching MAth to you! Tis is why we want your opinion about teaching Math.... </p>

<p>The survey is very simple. You will be shown screens describing a new Math class. For each new Math class you will be asked the following two questions:</p>

<p>1) How interested are you... </p>
<p>2) Based od this screen... </p>
<p>Although some of the "math classes"... </p>
<p>You will be asked the same questions... </p>
</div>


	<a href="/survey_classification/">Take the Survey</a> || 
	<a href="/privacy/">Read the Privacy Statement</a>
</div>
</div>

{% endblock %}
