{% extends 'base.html' %}
{% block body %}

<div id="intro">
<h1>Welcome to the ktk survey</h1>

	
	
		<p>Today you will be taking an important survey about teaching Math to you! Tis is why we want your opinion about teaching Math.... </p>

		<p>The survey is very simple. You will be shown screens describing a new Math class. For each new Math class you will be asked the following two questions:</p>

		<p>1) How interested are you in learning math based on this information? </p>
		<p>2) Based on this screen alone, how do you feel when you read these massages? </p>
		<p>Although some of the "math classes"... </p>
		<p>You will be asked the same questions... </p>
	
	
	
	<center><p><a  id = "start" href="/survey_classification/">Take the Survey</a></p></center>
	
	
</div>

{% endblock %}
